{% extends "openbudgetapp/base.html" %}
{% block title %}Transaction Journal{% endblock %}
{% block content %}

{% regroup transactions by postdate as transaction_list %}


{% for tgrp in transaction_list %}
<div class="row">
<div class="span2">
	<h4>{{tgrp.grouper}}</h4>
	<div class="row">
		<div class="span12">
		<table class="table">
			<thead>
				<tr>
					<th>Description</th>
					<th>Account Type</th>
					<th>Account</th>
					<th>Value</th>
				</tr>
			<tbody>
	{% for t in tgrp.list %}
			<tr>
				<th>{{t.description}}</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
				<th>&nbsp;</th>
			</tr>

			{% for s in t.splits %}
			<tr>
				<th>{{s.memo}}</th>
				<th>{{s.account.account_type}}</th>
				<th>{{s.account.name}}</th>
				<th>{{s.amt}} {{s.db_or_cr}}</th>
			</tr>
			{% endfor %}
		{% endfor %}
			</tbody>
		</table>
		</div>
	<div>
</div>
</div>
{% endfor %}
	
	


{% endblock %}



