{% extends "openbudgetapp/base.html" %}
{% block title %}Transaction Journal{% endblock %}
{% block content %}

{% regroup transactions by postdate as transaction_list %}


{% for tgrp in transaction_list %}
<div class="row">
<div class="span2">
	<h4>{{tgrp.grouper}}</h4>
	{% for t in tgrp.list %}
	
	<div class="row">
		<div class="span4">
			{{t.description}}
		</div>
	</div>
	{% for s in t.splits %}
	
	<div class="row">
		<div class="span8 offset1">
			{{s.account.formatted_name}}
		</div>
		<div class="span2 offset8">
			{{s.amt}} {{s.db_or_cr}}
		</div>
	</div>
	{% endfor %}
	{% endfor %}
</div>

</div>
{% endfor %}
	
	


{% endblock %}



