{% extends "openbudgetapp/base.html" %}
{% block title %}Transaction Journal{% endblock %}
{% block content %}


{% for t in transactions %}
<div class="row">
<div class="span2">
	<h4>{{t.postdate}}</h4>
	<div class="row">
		<div class="span4">
			{{t.description}}
		</div>
	</div>
	{% for s in t.splits %}
	
	<div class="row">
		<div class="span9 offset1">
			{{s.account.formatted_name}}
		</div>
		<div class="span2 offset9">
			{{s.amt}} {{s.db_or_cr}}
		</div>
	</div>
	
	{% endfor %}
</div>

</div>
{% endfor %}
	
	


{% endblock %}



